<h3>This is a specific snippet</h3>
<div>{{id}}</div>
{{text-editor text=text}}

{{#link-to 'snippets'}}<div>Back</back>{{/link-to}}
<button {{action 'saveSnippet' model}}>Save</button>
<button {{action 'deleteSnippet' model}}>Delete</button>