<h3>This is a specific snippet</h3>
<div>{{id}}</div>
{{text-editor text=text}}

{{#link-to 'snippets'}}<div class='btn btn-default'>Back</back>{{/link-to}}
<button class='btn btn-success' {{action 'saveSnippet' model}}>Save</button>
<button class='btn btn-danger' {{action 'deleteSnippet' model}}>Delete</button>