<h2>These are the snippets</h2>
{{#each snippet in model}}
	{{#link-to 'snippet.edit' snippet}}
		<div>{{snippet.id}}</div>
	{{/link-to}}	
{{/each}}
{{#link-to 'snippets.create'}}<div class='btn btn-success'>Create</div>{{/link-to}}